.abc {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;
  
  /* This bit draws the box around it */
  border-bottom:1px solid black;

  /* I've used padding so you can see the edges of the elements. */
  padding:2px;
}
.form-input.selected-venue-input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}
.venuepicker-open {
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    /* background: #007bff; */
    background: #6c757d;
}
.venuepicker-open:hover {
    background: #f0f0f0;
}
.venuepicker-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background:blue;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        
}

.venuepicker-modal-content {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}

.venues {
    overflow-y: scroll;
    box-sizing: border-box; /* This makes padding apart of calculated height & width. */
    background-color: #fefefe;
    height: 70vh;
    width: 70vw;
    padding: 3em;
}

.venue {
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 1em;
}

.venue:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.venue > * {
    margin: 0;
}

.venuepicker-close {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1.25em;

}

.venue-name {
    margin-bottom: 0;
}

.venue-address {
    font-size: 0.8em;
}

.selected {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: 2px solid red;
    border: none;
}
