.find-game {
    box-sizing: content-box;
    min-height: 100vh;
    padding: 1em 3em;
    margin: 0 2em;
}

.game-container {
    box-sizing: content-box;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    /* flex-direction: column; */
}

